.arrows{
    position: absolute;
    top: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between; 

    button{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .prev{
        position: relative;
        left: -1em;
        &::before{
            content: "<";
        }
    }
    .for{
        position: relative;
        right: -1em;
        &::before{
            content: ">";
        }
    }
}