.body-container{
    display: flex;
    align-items: center;
    margin: 15em auto;
    >*{
        flex: 1;
        // border: 1px black solid;
    }

    max-width: 80vw;
    // border: 1px black solid;
    height: 300px;
}

.details-container {
    position: relative;
    max-width: 50vw;
    margin: 5em auto;
    height: 100%;
    border: 1px black solid;
    display: flex;
    justify-content: space-between;

  }